$main-color: rgb(103, 160, 167);
$second-color: rgb(181, 29, 211);
$body: rgb(27, 26, 26);

$second-gradient: linear-gradient(77deg, rgba(251,63,150,1) 9%, rgba(176,13,182,1) 47%, rgba(47,112,170,1) 88%);

$main-gradient:linear-gradient(21deg, rgba(63,94,251,1) 9%, rgba(13,182,179,1) 47%, rgba(47,112,170,1) 88%); 
 
$gradient: linear-gradient(21deg, rgb(137, 143, 175) 9%, rgba(247,247,247,1) 32%, rgb(125, 47, 170) 54%, rgba(31,209,206,1) 76%, rgba(31,75,209,1) 92%); 

$footer-gradient:linear-gradient(35deg, rgba(22,20,22,1) 8%, rgba(74,46,82,1) 47%, rgb(33, 31, 34) 92%); ;