@import "./colors";
@import "./size";

// --------overall------

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background-color: $body;
    font-size: 1.6rem;
    font-family: "Secular One", sans-serif;
    font-family: "Sansita Swashed", cursive;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Ubuntu Mono", monospace;
}
.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    background-color: $wrapper;
    box-shadow: 0 0 155px $second-wrapper;
}

// --------^^ overall ^^--------

nav {
    position: fixed;
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    ul {
        display: none;
    }
    .burger {
        font-size: 2.3rem;
        padding: 5px;
        color: whitesmoke;
        cursor: pointer;
    }
    h5 {
        margin-left: 10px;
        cursor: default;
        color: whitesmoke;
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    padding: 80px 5px 5vh;
    p {
        font-size: 2rem;
        font-family: "Secular One", sans-serif;
        color: transparent;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        span {
            font-size: 2rem;
            color: whitesmoke;
            text-shadow: none;
        }
    }
}
.hire-me {
    position: absolute;
    top: 93%;
    margin-right: 176px;
    padding: 5px 10px;
    border-radius: 7px;
    transform: translateY(-50%);
    text-decoration: none;
    background: $main-gradient;
    color: white;
    text-align: center;
}
.decor-left {
    position: absolute;
    left: 65%;
    top: 50px;
    height: $decor-left;
    width: 100%;
    background: $second-color;
    z-index: -1;
    border-top-left-radius: 155px;
    border-bottom-left-radius: 155px;
}
.decor-right {
    position: absolute;
    left: -25px;
    transform: translateX(-50%);
    top: 50px;
    height: $decor-left;
    width: 150px;
    border-radius: 50%;
    background: $second-gradient;
    z-index: -1;
}

.about-me {
    overflow: hidden;
    z-index: 0;
    margin-bottom: 5vh;
    .about-me-info {
        position: relative;
        padding-bottom: 20px;
        h2 {
            margin-top: 50px;
            text-align: center;
            font-size: 3rem;
            color: transparent;
            letter-spacing: -2px;
            background: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
        }
        p {
            color: whitesmoke;
            padding: 15px 20px;
            text-align: center;
            margin: 0 auto;
            width: 80%;
            margin-bottom: 20px;
            text-shadow: 1px 1px 1px black;
        }
        p::before {
            content: " ";
            position: absolute;
            right: -90px;
            top: 20px;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            background: $main-gradient;
            z-index: -1;
        }
        p::after {
            content: " ";
            position: absolute;
            left: 26px;
            top: 129px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: $main-gradient;
            box-shadow: 0px -29px 1px $second-color;
            z-index: -1;
        }
        .download-cv {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(152, 168, 199);
            font-size: 1.9rem;
            text-decoration: none;
            text-shadow: 1px 1px 1px black;
        }
        .download-cv::before {
            content: " ";
            position: absolute;
            height: 7px;
            width: 86%;
            border-radius: 9px;
            margin-left: 7%;
            margin-top: 22%;
            background: $second-gradient;
        }
    }

    .image {
        margin-top: 20px;
        .image-up {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .image-down {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .img {
            margin: 10px;
            background-image: url(../img/275527009_708108843524114_7580503554046197420_n.jpg);
            background-size: cover;
            background-position: 60% 40%;
            border-radius: 9px;
        }
        .img1 {
            height: 200px;
            width: 100px;
        }
        .img2 {
            height: 200px;
            width: 200px;
        }
        .img3 {
            height: 100px;
            width: 150px;
        }
        .img4 {
            background-position: 50% 50%;
            transform: scaleX(-1);
        }
    }
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $footer-gradient;
    padding: 10px 10px;
    z-index: 0;
    text-align: center;
    white-space: nowrap;
    flex-direction: column;
    padding: 20px;
    h5 {
        font-size: 2.5rem;
        padding: 5px 10px;
    }
    .contact {
        margin-bottom: 20px;
    }
    .social-media {
        a{
            text-decoration: none;
        }
        margin-bottom: 20px;
        .icons {
            font-size: 3rem;
            cursor: pointer;
            border-radius: 50%;
            background: $main-gradient;
        }
    }
    .bg-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        margin-bottom: 30px;
        background-image: $second-gradient;
        .picture {
            position: absolute;
            height: 100px;
            width: 140px;
            background-image: url(../img/rubin-removebg-preview.png);
            background-size: cover;
            background-position: center;
            z-index: 0;
        }
    }
}
@media (min-width: 370px) {
    .hire-me {
        top: 90%;
    }
    .about-me {
        h2 {
            margin-top: 40px;
        }
    }
    .decor-left,
    .decor-left::before,
    .decor-right {
        height: $ms-decor-left;
    }
    .decor-left::before,
    .decor-right {
        width: $ms-decor-left;
    }
}
@media (min-width: 420px) {
    .decor-left,
    .decor-left::before,
    .decor-right {
        height: 17vh;
    }
    .decor-left::before,
    .decor-right {
        width: 17vh;
    }
}

@media (min-width: 576px) {
    .decor-left {
        left: 55%;
    }
    nav {
        h5 {
            font-size: 1.8rem;
        }
        .burger {
            font-size: 3rem;
        }
    }
    .container {
        p {
            font-size: 3.3rem;
            line-height: 110%;
            span {
                font-size: 2.8rem;
            }
        }
    }
    .hire-me {
        margin-right: 320px;
        font-size: 2rem;
        top: 90%;
    }
    .about-me {
        h2 {
            margin-top: 50px;
        }
        p {
            font-size: 1.9rem;
        }
        .download-cv {
            font-size: 2.1rem;
        }
    }
    .image {
        .image-up {
            .img1 {
                height: 350px;
                width: 150px;
            }
            .img2 {
                height: 350px;
                width: 350px;
            }
        }
        .image-down {
            .img3 {
                height: 250px;
                width: 250px;
            }
        }
    }
}
@media (min-width: 768px) {
    .decor-left,
    .decor-left::before,
    .decor-right {
        height: 21vh;
    }
    .decor-left::before,
    .decor-right {
        width: 21vh;
    }
    nav {
        padding: 10px;
        h5 {
            font-size: 2rem;
        }
        .burger {
            display: none;
        }
        ul {
            display: flex;
            li {
                a {
                    padding-right: 25px;
                    // padding: 0 5px;
                    margin-left: 5px;
                    text-decoration: none;
                }
            }
            li:first-child {
                list-style: none;
                line-height: 130%;
            }
        }
    }
    .container {
        padding-bottom: 9vh;
        p {
            font-size: 3.7rem;
            line-height: 100%;
            span {
                font-size: 2.8rem;
            }
        }
    }
    .hire-me {
        margin-right: 350px;
        font-size: 2.5rem;
        top: 80%;
    }
    .about-me {
        .about-me-info {
            margin-bottom: 7vh;
            h2 {
                margin-top: 70px;
            }
            p {
                font-size: 2rem;
            }
            p::after {
                content: " ";
                position: absolute;
                left: 56px;
                top: 109px;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                background: $main-gradient;
                box-shadow: 0px -45px 1px $second-color;
                z-index: -1;
            }
            .download-cv {
                font-size: 2.2rem;
                top: 95%;
            }
        }
    }
    .image {
        .image-up {
            .img1 {
                height: 400px;
                width: 200px;
            }
            .img2 {
                height: 400px;
                width: 400px;
            }
        }
        .image-down {
            .img3 {
                height: 300px;
                width: 300px;
            }
        }
    }
    footer {
        .footer {
            display: flex;
            justify-content: space-between;
            h5 {
                font-size: 3.2rem;
            }
            p {
                font-size: 2rem;
            }
        }
    }
}
@media (min-width: 830px) {
    .container {
        padding-bottom: 10vh;
    }
    .decor-left,
    .decor-left::before,
    .decor-right {
        height: 22vh;
    }
    .decor-left::before,
    .decor-right {
        width: 24vh;
    }
    nav {
        padding: 10px;
        h5 {
            font-size: 2rem;
        }
        .burger {
            display: none;
        }
        ul {
            display: flex;
            li {
                a {
                    padding: 5px 25px 5px 0;
                    margin-left: 5px;
                    text-decoration: none;
                }
            }
            li:first-child {
                list-style: none;
                line-height: 130%;
            }
        }
    }
    .container {
        p {
            margin-top: 30px;
            font-size: 4.4rem;
            line-height: 90%;
            span {
                font-size: 3rem;
            }
        }
    }
    .hire-me {
        margin-right: 390px;
        font-size: 3rem;
        padding: 5px 25px;
        top: 82%;
    }
    .about-me {
        .about-me-info {
            margin-bottom: 7vh;
            h2 {
                margin-top: 50px;
                font-size: 5.5rem;
                margin-bottom: 30px;
            }
            p {
                font-size: 2.3rem;
            }
            p::after {
                content: " ";
                position: absolute;
                left: 56px;
                top: 109px;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                background: $main-gradient;
                box-shadow: 0px -45px 1px $second-color;
                z-index: -1;
            }
            .download-cv {
                font-size: 2.4rem;
                top: 110%;
            }
        }
    }
    .image {
        .image-up {
            .img1 {
                height: 525px;
                width: 225px;
            }
            .img2 {
                height: 525px;
                width: 525px;
            }
        }
        .image-down {
            .img3 {
                height: 375px;
                width: 375px;
            }
        }
    }
    footer {
        padding: 50px 0;
        .footer {
            margin-bottom: 20px;
            h5 {
                font-size: 3.2rem;
            }
            p {
                font-size: 2rem;
            }
            .contact {
                margin-right: 100px;
            }
        }
    }
}
@media (min-width: 1280px) {
    .container {
        padding-bottom: 18vh;
    }
    .decor-left,
    .decor-left::before,
    .decor-right {
        height: 44vh;
    }
    .decor-left::before,
    .decor-right {
        width: 30vh;
    }
    nav {
        padding: 10px;
        h5 {
            font-size: 1.6rem;
        }
        .burger {
            display: none;
        }
        ul {
            display: flex;
            li {
                a {
                    padding: 5px 25px 5px 0;
                    margin-left: 5px;
                    text-decoration: none;
                    font-size: 1.6rem;
                }
            }
            li:first-child {
                list-style: none;
                line-height: 130%;
            }
        }
    }
    .container {
        p {
            margin-top: 30px;
            font-size: 4.5rem;
            letter-spacing: 2px;
            word-spacing: 15px;
            line-height: 100%;
            span {
                font-size: 4rem;
            }
        }
    }
    .hire-me {
        margin-right: 480px;
        font-size: 3rem;
        padding: 10px 35px;
        top: 82%;
    }
    .about-me {
        .about-me-info {
            margin-bottom: 10vh;
            h2 {
                margin-top: 80px;
                font-size: 5rem;
                letter-spacing: -5px;
                margin-bottom: 40px;
            }
            p {
                font-size: 2.2rem;
                width: 80%;
            }
            p::after {
                content: " ";
                position: absolute;
                left: 56px;
                top: 109px;
                height: 90px;
                width: 90px;
                border-radius: 50%;
                background: $main-gradient;
                box-shadow: 0px -45px 1px $second-color;
                z-index: -1;
            }
            .download-cv {
                font-size: 2.9rem;
                top: 110%;
            }
        }
    }
    .image {
        .image-up {
            .img1 {
                height: 700px;
                width: 350px;
            }
            .img2 {
                height: 700px;
                width: 700px;
            }
        }
        .image-down {
            .img3 {
                height: 525px;
                width: 525px;
            }
        }
    }
    footer {
        padding: 50px 0;
        .footer {
            margin-bottom: 20px;
            h5 {
                font-size: 4.2rem;
            }
            p {
                font-size: 2.5rem;
            }
            .contact {
                margin-right: 100px;
            }
            .social-media{
                a{
                    padding: 0 5px;
                }
                .icons{
                    font-size: 4rem;
                    padding: 10px;
                }
            }
        }
    }
}
