@import './colors';

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}
.main-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    .btn-side{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 90vh;
        width: 30vw;
        text-align: center;
        .logo{
            font-size: 2.2rem;
            text-transform: uppercase;
            color: $logo;
        }
        .copyright-text{
            font-size: 1.4rem;
            color: $text-shadow;
            text-transform: capitalize;
            text-align: center;
        }
    }
    .video-bg{
        position: relative;
        height: 90vh;
        width: 100%;
        .video{
            position: absolute;
            height: 100%;
            width: 95%;
            object-fit: cover;
        }
    }
}

